header {
   background-color: black;
   text-align: center;
   position: fixed;
   z-index: 12;
   left: 0;
   top: 0;
   width: 100%;
}

h1 {
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
}

h2 {
  padding-top: 20px;
}

h3 {
  padding-bottom: 25px;
}

.container {
  width: 960px;
  margin:auto;
  margin-top:50px;
}

ul {
  padding-left: 20px;
}


#mainPage {
  background-color: black;
}

#trailer {
  text-align: center;
}

#userChoices {
  text-align: center;
}

#mydiv {

    padding-top: 10px;
    /*border-radius: 5px;*/
    position: absolute;
    z-index: 9;
    background-color: #252424;
    border: 1px solid #252424;
    text-align: center;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #252424;
    color: #fff;
    text-align: center;
    height: 98vh;
    padding-top: 125px;
}

#watchRightBar {
  background-image: url(https://media.giphy.com/media/pUeXcg80cO8I8/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  right:0;
  width: 33%;
  min-width: 25%;
  max-width: 33%;
  height: 100vh;
  border: 1px solid #aaaaaa;
  padding-top: 60px;
}

#nahLeftBar {
  background-image: url(https://media.giphy.com/media/SH5dYg10Gpjvq/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left:0;
  width: 33%;
  min-width: 25%;
  max-width: 33%;
  height: 100vh;
  border: 1px solid #aaaaaa;
  padding-top: 60px;
}

#zoneWatch{
  color: white;
  text-align: center;
}

#zoneNah{
  color: white;
  text-align: center;
}

#logInSignUp{
  background-color: white;
  text-align: center;
  padding-top: 75px;
}

#moviePosters {
  padding-top: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#moviePosters img {
  width: 220px;
  height: 308px;
  margin-bottom: 30px;
}

#moviePosters img:hover {
  width: 240px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
